@font-face {
  font-family: "YeogiOttaeJalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "YeogiOttaeJalnan";
  margin-top: -30px;
  color: rgb(52, 70, 94);
}

header {
  background: linear-gradient(to right, rgb(255, 239, 122), rgb(255, 190, 160));
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 50px;
  height: 50px;
  /* margin-bottom: 50px; */
  box-shadow: 0px 2px 15px 1px gray;
}

.main_info{
    display: flex;
}

header ul {
  text-align: center;
  margin-top: -30px;
  margin-left: 150px;
}

header li {
  display: inline-block;
  text-align: center;
  margin-right: 50px;
  font-size: 22px;
}

#main_img {
  width: 100%;
  height: 425px;
  background-image: url("../images/title_img.jpg");
  background-size: cover;
  position: relative;
}

.main_title {
  font-size: 50px;
  position: absolute;
  bottom: 300px;
  /* right: 100px; */
  left: 50px;
  /* top: 200px; */
  color: white;
  font-weight: bold;
}

section {
  box-shadow: 2px 2px 10px 1px black;
  /* border: 1px solid black; */
  width: 430px;
  height: 500px;
  padding: 20px;
  box-sizing: content-box;
  border-radius: 10px;
  margin-bottom: 30px;
  display: inline-block;
  margin-top: 50px;
  cursor: pointer;
  margin-left: 20px;
}

footer {
  width: 100%;
  height: 150px;
  background-color: rgb(176, 178, 154);
  color: white;
  /* padding: 20px; */
  line-height: 1.8;
}

ul > li:hover .submenu {
  display: block;
}

ul > li:hover{
    text-decoration: underline;
}

ul li {
  position: relative;
}

.submenu {
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1px solid gray;
  display: none;
  width: 100px;
}

table {
  text-align: center;
  font-size: 20px;
  border-collapse: collapse;
  margin-left: 40px;
  margin-top: 40px;
  font-family: "Aggravo";
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  /* width: 700px; */
  height: 70px;
}

.info {
  margin-top: 0;
  margin-left: 50px;
}

.info legend {
  text-align: center;
}

.info label {
  text-align: center;
  width: 200px;
}

.info input {
  width: 100%;
  margin-top: 10px;
}

legend {
  font-size: 20px;
  /* font-weight: bold; */
  margin-bottom: 30px;
}

fieldset {
  width: 50%;
  border: none;
}

label {
  display: inline-block;
  margin-bottom: 30px;
  text-align: center;
}

label input {
  width: 20px;
  margin-left: 55px;
  text-align: center;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: 0px;
  background: linear-gradient(to right, rgb(255, 239, 122), rgb(255, 190, 160));
  margin-bottom: 50px;
  margin-left: 30px;
}

.info_img {
  width: 50%;
  height: 300px;
  background-image: url("../images/info_img.jpg");
  background-size: cover;
  margin-left: 100px;
}

#third p{
    font-size: 20px;
    margin-top: 30px;
}